

wh($width,$height){  // 宽度和高度
    width $width
    height $height
}

bc(){  // 基础文字颜色和背景 background color
    color var(--color-base)
    background-color var(--bgc-base)
}

rc(){ // 已读文字颜色  readed color
    color var(--color-Readed)
}

pc(){  // 普通文字颜色 primary color
    color var(--color-primary)
}

lc(){ // 轻微的文字颜色
    color var(--color-light)
}

