:root {
    /* --vt-c-white:#ffffff;
    --vt-c-indigo:#2c3e50;
    --vt-c-text-light-1:var(--vt-c-indigo);
    --color-text: var(--vt-c-text-light-1);
    --color-background: var(--vt-c-white); */
    
}